**Welcome to the Anime Rating Comparator!**

This project is designed to compare various anime ratings to other data points, such as number of user votes, format category, and more.

In [1]:
# Library import statements
import sqlite3
import numpy as np
import pandas as pd
import matplotlib as plt

In [2]:
# Uses pandas to read dataset and stores via python as a variable
anime_data = pd.read_csv("anime.csv")

Here is the main data set used for this project. This data comes from the myanimelist.net API, a collection of data pulled from 73516 users of one of the leading anime-related database sites on the internet. Though slightly outdated, the data from this API still overall accurately reflects the current state of the various title ratings when user votes are into the thousands.

For purposes of having the most rounded possible view of the data, titles with less than 1000 user votes are still included in the queries, graphs, and analyses, as there are enough of these titles in the main data set to not be considered outliers in individual categorical analysis. However, anything tagged as adult-oriented has been excluded, as these points do act as outliers, and are not necessary for a proper analysis of the data.

In [3]:
# Main data table
anime_data

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,GintamaÂ°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
5,32935,Haikyuu!!: Karasuno Koukou VS Shiratorizawa Ga...,"Comedy, Drama, School, Shounen, Sports",TV,10,9.15,93351
6,11061,Hunter x Hunter (2011),"Action, Adventure, Shounen, Super Power",TV,148,9.13,425855
7,820,Ginga Eiyuu Densetsu,"Drama, Military, Sci-Fi, Space",OVA,110,9.11,80679
8,15335,Gintama Movie: Kanketsu-hen - Yorozuya yo Eien...,"Action, Comedy, Historical, Parody, Samurai, S...",Movie,1,9.10,72534
9,15417,Gintama&#039;: Enchousen,"Action, Comedy, Historical, Parody, Samurai, S...",TV,13,9.11,81109
10,4181,Clannad: After Story,"Drama, Fantasy, Romance, Slice of Life, Supern...",TV,24,9.06,456749
11,28851,Koe no Katachi,"Drama, School, Shounen",Movie,1,9.05,102733
12,918,Gintama,"Action, Comedy, Historical, Parody, Samurai, S...",TV,201,9.04,336376
13,2904,Code Geass: Hangyaku no Lelouch R2,"Action, Drama, Mecha, Military, Sci-Fi, Super ...",TV,25,8.98,572888
14,28891,Haikyuu!! Second Season,"Comedy, Drama, School, Shounen, Sports",TV,25,8.93,179342
15,199,Sen to Chihiro no Kamikakushi,"Adventure, Drama, Supernatural",Movie,1,8.93,466254
16,23273,Shigatsu wa Kimi no Uso,"Drama, Music, Romance, School, Shounen",TV,22,8.92,416397
17,24701,Mushishi Zoku Shou 2nd Season,"Adventure, Fantasy, Historical, Mystery, Seine...",TV,10,8.88,75894
18,12355,Ookami Kodomo no Ame to Yuki,"Fantasy, Slice of Life",Movie,1,8.84,226193
19,1575,Code Geass: Hangyaku no Lelouch,"Action, Mecha, Military, School, Sci-Fi, Super...",TV,25,8.83,715151
20,263,Hajime no Ippo,"Comedy, Drama, Shounen, Sports",TV,75,8.83,157670
21,44,Rurouni Kenshin: Meiji Kenkaku Romantan - Tsui...,"Action, Drama, Historical, Martial Arts, Roman...",OVA,4,8.83,129307
22,1,Cowboy Bebop,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",TV,26,8.82,486824
23,30276,One Punch Man,"Action, Comedy, Parody, Sci-Fi, Seinen, Super ...",TV,12,8.82,552458
24,164,Mononoke Hime,"Action, Adventure, Fantasy",Movie,1,8.81,339556
25,7311,Suzumiya Haruhi no Shoushitsu,"Comedy, Mystery, Romance, School, Sci-Fi, Supe...",Movie,1,8.81,240297
26,17074,Monogatari Series: Second Season,"Comedy, Mystery, Romance, Supernatural, Vampire",TV,26,8.80,205959
27,21939,Mushishi Zoku Shou,"Adventure, Fantasy, Historical, Mystery, Seine...",TV,10,8.80,101351
28,457,Mushishi,"Adventure, Fantasy, Historical, Mystery, Seine...",TV,26,8.78,300030
29,2001,Tengen Toppa Gurren Lagann,"Action, Adventure, Comedy, Mecha, Sci-Fi",TV,27,8.78,562962
...,...,...,...,...,...,...,...
12264,32195,Junjou Shoujo Et Cetera Specials,Hentai,Special,2,6.42,254
12265,34361,Kyonyuu Reijou MC Gakuen,Hentai,OVA,Unknown,NaN,205
12266,7914,Kyuukyoku no Chef wa Oishinbo Papa,Hentai,OVA,1,5.43,262
12267,14207,Lovely Series,Hentai,OVA,2,4.11,174
12268,23677,Manga Edo Erobanashi,"Comedy, Hentai, Historical",OVA,5,2.86,111
12269,13959,Milky Gal: Cats Ai,Hentai,OVA,1,4.08,164
12270,29994,Misato-chan no Yume Nikki,Hentai,OVA,1,3.00,147
12271,5559,Nijuusou: Wana ni Ochita Onna-tachi,Hentai,OVA,1,5.20,240
12272,18197,Nudl Nude,"Comedy, Hentai, Parody",OVA,1,4.14,186
12273,18199,Nudl Nude 2,"Comedy, Hentai, Parody",OVA,1,4.00,146
12274,34492,Nuki Doki! Tenshi to Akuma no Sakusei Battle -...,Hentai,OVA,Unknown,NaN,392
12275,29111,Onna Spy Goumon: Teki no Ajito wa Jotai Goumonsho,Hentai,OVA,1,3.14,108
12276,32713,Original C-V-P Momoko,Hentai,OVA,2,4.00,66
12277,12397,Original Video Romance Animation,"Comedy, Hentai",OVA,2,4.66,176
12278,17833,Pink no Curtain,"Hentai, Slice of Life",OVA,1,3.61,138
12279,34491,Sagurare Otome The Animation,Hentai,OVA,1,NaN,79
12280,34312,Saimin Class,Hentai,OVA,Unknown,NaN,240
12281,9504,Sakura no Mori,Hentai,OVA,2,4.53,221
12282,34388,Shikkoku no Shaga The Animation,Hentai,OVA,Unknown,NaN,195
12283,29992,Silent Chaser Kagami,Hentai,OVA,1,4.95,112
12284,26031,Super Erotic Anime,Hentai,OVA,2,4.45,118
12285,34399,Taimanin Asagi 3,"Demons, Hentai, Supernatural",OVA,Unknown,NaN,485
12286,10368,Teleclub no Himitsu,Hentai,OVA,2,4.67,148
12287,9352,Tenshi no Habataki Jun,Hentai,OVA,1,4.33,201
12288,5541,The Satisfaction,Hentai,OVA,1,4.37,166
12289,9316,Toushindai My Lover: Minami tai Mecha-Minami,Hentai,OVA,1,4.15,211
12290,5543,Under World,Hentai,OVA,1,4.28,183
12291,5621,Violence Gekiga David no Hoshi,Hentai,OVA,4,4.88,219
12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,4.98,175
12293,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,5.46,142

In [4]:
# Allows the data to be accessed via SQL queries
anime_data.to_sql("anime_data_sql", sqlite3.connect("anime.db"), if_exists = "replace")

**Correlations between Type and User Votes**

We will begin with User Votes. Is there a correlation between higher ratings and the amount of users that vote on something?

Does this correlation change between the four main anime formats: TV Series, Movie, OVA, and Special?

Let's check out TV Series first. For this data set, I have ommitted any entry with an unknown number of episodes. Here are the top five data points as ordered by rating.

In [5]:
anime_tv = sqlite3.connect("anime.db")
anime_data = pd.read_sql_query("SELECT name, type, rating, members AS 'user votes' FROM anime_data_sql WHERE type = 'TV' AND episodes != 'Unknown' ORDER BY rating DESC", anime_tv)
anime_data.head()

                                                name type  rating  user votes
0                   Fullmetal Alchemist: Brotherhood   TV    9.26      793665
1                                           GintamaÂ°   TV    9.25      114262
2                                        Steins;Gate   TV    9.17      673572
3                                      Gintama&#039;   TV    9.16      151266
4  Haikyuu!!: Karasuno Koukou VS Shiratorizawa Ga...   TV    9.15       93351

And here are the top five data points as ordered by user votes.

In [6]:
anime_tv = sqlite3.connect("anime.db")
anime_data = pd.read_sql_query("SELECT name, type, rating, members AS 'user votes' FROM anime_data_sql WHERE type = 'TV' AND episodes != 'Unknown' ORDER BY members DESC", anime_tv)
anime_data.head()

                               name type  rating  user votes
0                        Death Note   TV    8.71     1013917
1                Shingeki no Kyojin   TV    8.54      896229
2                  Sword Art Online   TV    7.83      893100
3  Fullmetal Alchemist: Brotherhood   TV    9.26      793665
4                      Angel Beats!   TV    8.39      717796

This scatter plot displays the ratings of TV Series against the number of users who voted for them and includes the regression line.

In [7]:
# GRAPH: TV Series scatter plot with axis for rating, axis for number of users, find correlation between the two variables

There is a (power), (direction) correlation between TV Series ratings and their user votes with an R value of (number).

How about movies, though? Let's check those out. 

Here are the top five data points as ordered by rating.

In [8]:
anime_movies = sqlite3.connect("anime.db")
anime_data = pd.read_sql_query("SELECT name, type, rating, members AS 'user votes' FROM anime_data_sql WHERE type = 'Movie' AND genre != 'hentai' ORDER BY rating DESC", anime_movies)
anime_data.head()

,name,type,rating,user votes
0,Taka no Tsume 8: Yoshida-kun no X-Files,Movie,10.00,13
1,Mogura no Motoro,Movie,9.50,62
2,Kimi no Na wa.,Movie,9.37,200630
3,Kahei no Umi,Movie,9.33,44
4,Gintama Movie: Kanketsu-hen - Yorozuya yo Eien...,Movie,9.10,72534

And here are the top five data points as ordered by user votes.

In [9]:
anime_movies = sqlite3.connect("anime.db")
anime_data = pd.read_sql_query("SELECT name, type, rating, members AS 'user votes' FROM anime_data_sql WHERE type = 'Movie' AND genre != 'hentai' ORDER BY members DESC", anime_movies)
anime_data.head()

                            name   type  rating  user votes
0  Sen to Chihiro no Kamikakushi  Movie    8.93      466254
1                  Mononoke Hime  Movie    8.81      339556
2            Howl no Ugoku Shiro  Movie    8.74      333186
3          Byousoku 5 Centimeter  Movie    8.10      324035
4          Toki wo Kakeru Shoujo  Movie    8.44      289206

This scatter plot displays the ratings of Movies against the number of users who voted for them and includes the regression line.

In [10]:
# GRAPH: TV Series scatter plot with axis for rating, axis for number of users, find correlation between the two variables

There is a (power), (direction) correlation between Movie ratings and their user votes with an R value of (number).

Next, let's take a look at OVAs. Here are the top five data points as ordered by rating.

In [11]:
anime_ova = sqlite3.connect("anime.db")
anime_data = pd.read_sql_query("SELECT name, type, rating, members AS 'user votes' FROM anime_data_sql WHERE type = 'OVA' AND genre != 'hentai' ORDER BY rating DESC", anime_ova)
anime_data.head()

                                                name type  rating  user votes
0                    Yakusoku: Africa Mizu to Midori  OVA    9.25          53
1                               Ginga Eiyuu Densetsu  OVA    9.11       80679
2          Mienu Me ni Kanjita Kumotoriyama no Asahi  OVA    9.00          47
3                          Santa-san wa Dai Isogashi  OVA    9.00          25
4  Rurouni Kenshin: Meiji Kenkaku Romantan - Tsui...  OVA    8.83      129307

And here are the top five data points as ordered by user votes.

In [12]:
anime_ova = sqlite3.connect("anime.db")
anime_data = pd.read_sql_query("SELECT name, type, rating, members AS 'user votes' FROM anime_data_sql WHERE type = 'OVA' AND genre != 'hentai' ORDER BY members DESC", anime_ova)
anime_data.head()

                                           name type  rating  user votes
0                                          FLCL  OVA    8.06      305165
1                             Hellsing Ultimate  OVA    8.59      297454
2  Highschool of the Dead: Drifters of the Dead  OVA    6.77      140501
3                            Mirai Nikki Redial  OVA    7.71      135604
4                      BlackâRock Shooter (OVA)  OVA    7.24      130665

This scatter plot displays the ratings of OVAs against the number of users who voted for them and includes the regression line.

In [13]:
# GRAPH: OVA scatter plot with axis for rating, axis for number of users, find correlation between the two variables

There is a (power), (direction) correlation between OVA ratings and their user votes with an R value of (number).

Finally, let's process the final category, Special. Here are the top five data points as ordered by rating.

In [14]:
anime_special = sqlite3.connect("anime.db")
anime_data = pd.read_sql_query("SELECT name, type, rating, members AS 'user votes' FROM anime_data_sql WHERE type = 'Special' AND genre != 'hentai' ORDER BY rating DESC", anime_special)
anime_data.head()

                                    name     type  rating  user votes
0           Mushishi Special: Hihamukage  Special    8.66       49036
1                           Black Clover  Special    8.60        2247
2     Mushishi Zoku Shou: Odoro no Michi  Special    8.54       34011
3  Steins;Gate: Oukoubakko no Poriomania  Special    8.46      159548
4          Hajime no Ippo: Champion Road  Special    8.39       47840

And here are the top five data points as ordered by user votes.

In [15]:
anime_special = sqlite3.connect("anime.db")
anime_data = pd.read_sql_query("SELECT name, type, rating, members AS 'user votes' FROM anime_data_sql WHERE type = 'Special' AND genre != 'hentai' ORDER BY members DESC", anime_special)
anime_data.head()

,name,type,rating,user votes
0,"Clannad: Mou Hitotsu no Sekai, Tomoyo-hen",Special,8.14,160423
1,Steins;Gate: Oukoubakko no Poriomania,Special,8.46,159548
2,Angel Beats! Specials,Special,7.79,139013
3,"Clannad: After Story - Mou Hitotsu no Sekai, K...",Special,8.02,138364
4,Darker than Black: Kuro no Keiyakusha Gaiden,Special,8.09,136135

This scatter plot displays the ratings of Specials against the number of users who voted for them and includes the regression line.

In [16]:
# GRAPH: Special scatter plot with axis for rating, axis for number of users, find correlation between the two variables

There is a (power), (direction) correlation between Special ratings and their user votes with an R value of (number).

**Results: Type vs. User Votes**

It appears as though blahbalhblahblahblahblabhlahabhlabhlahlbalhalhbalbhlal

While we're at it, let's check out which types average the highest in title rating and user votes.

**Comparison: Average Ratings and User Votes**

We'll start with some queries about ratings.

In [17]:
anime_tv = sqlite3.connect("anime.db")
anime_data = pd.read_sql_query("SELECT AVG(rating) AS 'Average TV Series Rating' FROM anime_data_sql WHERE type = 'TV' AND episodes != 'Unknown'", anime_tv)
anime_data.head()

   Average TV Series Rating
0                  6.929143

In [18]:
anime_movies = sqlite3.connect("anime.db")
anime_data = pd.read_sql_query("SELECT AVG(rating) AS 'Average Movie Rating' FROM anime_data_sql WHERE type = 'Movie' AND genre != 'hentai'", anime_movies)
anime_data.head()

   Average Movie Rating
0              6.334055

In [19]:
anime_ova = sqlite3.connect("anime.db")
anime_data = pd.read_sql_query("SELECT AVG(rating) AS 'Average OVA Rating' FROM anime_data_sql WHERE type = 'OVA' AND genre != 'hentai'", anime_ova)
anime_data.head()

   Average OVA Rating
0            6.375411

In [20]:
anime_special = sqlite3.connect("anime.db")
anime_data = pd.read_sql_query("SELECT AVG(rating) AS 'Average Special Rating' FROM anime_data_sql WHERE type = 'Special' AND genre != 'hentai'", anime_special)
anime_data.head()

   Average Special Rating
0                6.523126

Excellent! Next, we'll query user votes again, rounded to the nearest vote.

In [21]:
anime_tv = sqlite3.connect("anime.db")
anime_data = pd.read_sql_query("SELECT AVG(members) AS 'Average TV Series Votes' FROM anime_data_sql WHERE type = 'TV' AND episodes != 'Unknown'", anime_tv)
round(anime_data).head().astype(int)

   Average TV Series Votes
0                    44529

In [22]:
anime_movies = sqlite3.connect("anime.db")
anime_data = pd.read_sql_query("SELECT AVG(members) AS 'Average Movie Votes' FROM anime_data_sql WHERE type = 'Movie' AND genre != 'hentai'", anime_movies)
round(anime_data).head().astype(int)

   Average Movie Votes
0                10546

In [23]:
anime_ova = sqlite3.connect("anime.db")
anime_data = pd.read_sql_query("SELECT AVG(members) AS 'Average OVA Votes' FROM anime_data_sql WHERE type = 'OVA' AND genre != 'hentai'", anime_ova)
round(anime_data).head().astype(int)

   Average OVA Votes
0               5988

In [24]:
anime_special = sqlite3.connect("anime.db")
anime_data = pd.read_sql_query("SELECT AVG(members) AS 'Average Special Votes' FROM anime_data_sql WHERE type = 'Special' AND genre != 'hentai'", anime_special)
round(anime_data).head().astype(int)

   Average Special Votes
0                   7680

Now that we've found all of our averages, which types came out on top?

**Results: Averages of Rating & User Votes**

As it turns out, [TYPE] have the highest average rating, while [TYPE] have the highest average number of user votes. 

Now, moving towards episode count, let's take a look at the TV Series data again.

**Correlation between TV Series Length and Rating**

Last, let's analyze the possible correlation between the number of episodes a TV Series contains against its overall user rating. For this, we will ignore the number of user votes a series has; just because a series has a fraction of the votes of another series doesn't mean the fans aren't just as dedicated to it.

As queried in cell [NUMBER], here are the top five data points as ordered by series rating. Similarly to the previous TV Series analysis section, anything with an unknown number of episodes has been omitted.

In [25]:
anime_tv = sqlite3.connect("anime.db")
anime_data = pd.read_sql_query("SELECT name, type, episodes, rating, members AS 'user votes' FROM anime_data_sql WHERE type = 'TV' AND episodes != 'Unknown' ORDER BY rating DESC", anime_tv)
anime_data.head()

,name,type,episodes,rating,user votes
0,Fullmetal Alchemist: Brotherhood,TV,64,9.26,793665
1,GintamaÂ°,TV,51,9.25,114262
2,Steins;Gate,TV,24,9.17,673572
3,Gintama&#039;,TV,51,9.16,151266
4,Haikyuu!!: Karasuno Koukou VS Shiratorizawa Ga...,TV,10,9.15,93351

And here are the top five data points as ordered by series length - that is, number of episodes.

In [26]:
anime_tv = sqlite3.connect("anime.db")
anime_data = pd.read_sql_query("SELECT name, type, episodes, rating, members AS 'user votes' FROM anime_data_sql WHERE type = 'TV' AND episodes != 'Unknown' ORDER BY episodes DESC", anime_tv)
anime_data.head()

,name,type,episodes,rating,user votes
0,Uchuu Kyoudai,TV,99,8.59,72958
1,Mister Ajikko,TV,99,7.31,1828
2,Tatakae! Chou Robot Seimeitai Transformers,TV,98,7.67,5652
3,Dragon Ball Kai,TV,97,7.95,116832
4,Majime ni Fumajime Kaiketsu Zorori,TV,97,6.99,390

This scatter plot displays the ratings of TV Series against the number of episodes they each contain and includes the regression line.

In [27]:
# GRAPH: Special scatter plot with axis for rating, axis for episode count, find correlation between the two variables

There is a (power), (direction) correlation between TV Series ratings and their episode count with an R value of (number).

**Results: TV Series Rating vs. Episode Count**

It appears as though blahbalhblahblahblahblabhlahabhlabhlahlbalhalhbalbhlal

**CONCLUSION**

Insert conclusive paragraph(s) here